# WordPress
/wp-config.php
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/plugins/index.php
/wp-content/themes/index.php

# Headless Forms
SUBMISSION_GUIDE.md

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.log
tmp/
